
.nav {
    width: 1400px;
    height: 78;
    position: fixed;
    margin-right: 20px;
    Font: Poppins;
    Weight: 400;
    Style: normal;
    Size: 14px;
    Line height: 28px;
    margin-top: 24px;
}

.word1 {
    position: absolute;
    height: 28px;
    left: 46.43%;
    right: 28.57%;
    top: calc(50% - 28px/2 - 1px);
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */     
    color: #2F281E;
    Width:350px;
    Height:28px;
    Top: 24px;
    Left:650px;
}

.img {
    width: 185px;
    height: 32px;
    margin-top: 22px;
    margin-left: 144px;

}

.btn1 {
    width: 102px;
    height: 46px;
    margin-top: 15px;
    margin-left: 1029px;
    background-color: #BCD0E5;
    position: absolute;
    left: 73.5%;
    right: 19.21%;
    top: 19.23%;
    bottom: 21.79%;
    color: #173A56;
    background: #FF9900;
    
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #BCD0E5;

    width: 175px;
    height: 53px;
    margin-top: 489px;
    margin-left: 145px;
    position: absolute;
    background-color: #FF9900;
    border-radius: 4px;
    text-align: center;
    color: white;
}

.btn2 {
    Width: 110px;
    Height: 46px;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 1145px;
    background-color: #FF9900;
    border-radius: 4px;
    position: absolute;
    left: 81.79%;
    right: 10.36%;
    top: 19.23%;
    bottom: 21.79%;
    color: white;

    position: absolute;
    height: 24px;
    left: 22.73%;
    right: 20.91%;
    top: calc(50% - 24px/2);

    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

.main-title {
    position: absolute;
    max-width: 518px;
    width: 100%;
    max-height: 108px;
    margin-top: 211px;
    margin-left: 145px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}


.main-text {
    position: absolute;
    max-width: 458px;
    width: 100%;
    max-height: 95px;
    margin-left: 145px;
    margin-top: 349px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
}

.btn3 {
    width: 175px;
    height: 53px;
    margin-top: 489px;
    margin-left: 145px;
    position: absolute;
    background-color: #FF9900;
    border-radius: 4px;
    text-align: center;
    color: white;
}

.btn4 {
    width: 20px;
    height: 17px;
    margin-top: 1,5px;
    margin-left: 17,5px;
    border-radius: 1,13px;
    position: absolute;
    text-align: center;
      
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: FF9900; 
}

.container {
    position: absolute;
    height: 108px;
    left: 38.22%;
    right: 37.4%;
    top: calc(50% - 108px/2 - 217.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #2F281E;
}

.card {
    position: absolute;
width: 240px;
height: 178px;
left: 567px;
top: 162px;
color: 2F281E;

}

.card1 {
    position: absolute;
    height: 33px;
    left: 0%;
    right: 20%;
    top: calc(50% - 33px/2 - 45.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}


.card2 {
    position: absolute;
    height: 33px;
    left: 0%;
    right: 29.17%;
    top: calc(50% - 33px/2 - 32.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}

.card3 {
    position: absolute;
    height: 33px;
    left: 0%;
    right: 24.58%;
    top: calc(50% - 33px/2 - 32.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}

.card4 {
    position: absolute;
    height: 33px;
    left: 0%;
    right: 20%;
    top: calc(50% - 33px/2 - 45.5px);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}

.card1-info {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 46.94%;
    bottom: 0%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}


.card2-info {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 46.94%;
    bottom: 0%;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */       
    color: #544837;
}

.card3-info {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 46.94%;
    bottom: 0%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

.card4-info {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 37.1%;
    bottom: 0%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}